
ul.resp-tabs-list, p {
    margin: 0px;
    padding: 0px;
}

.resp-tabs-list li {
	text-transform:uppercase;
		color: #a8a8a8;
    font-size: 14px;
    display: inline-block;
    padding: 8px 8px 8px 15px;
    margin: 0 10px 0 0;
    list-style: none;
    cursor: pointer;
    float: left;
		background-color: #5b5d63;
		background-image: -moz-linear-gradient(top, #5b5d63, #515257);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5b5d63), to(#515257));
		background-image: -webkit-linear-gradient(top, #5b5d63, #515257);
		background-image: -o-linear-gradient(top, #5b5d63, #515257);
		background-image: linear-gradient(to bottom, #5b5d63, #515257);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff515257, endColorstr=#ff515257);
	
		-webkit-border-radius: 4px 0 0 0;
	-moz-border-radius: 4px 0 0 0;
	border-radius: 4px 0 0 0;
	position:relative;
	text-shadow:0 0 1px rgba(0,0,0,.5);
	
}
.resp-tabs-list li a{
	color: #a8a8a8;
}
.resp-tabs-list li a:after {
	content: '';
	position: absolute;
	z-index: 1;
	top: 0;
	right: -8px;
	bottom: 0;
	width: 12px;
	background:#515257;
	background-image: -moz-linear-gradient(top, #5b5d63, #515257);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5b5d63), to(#515257));
	background-image: -webkit-linear-gradient(top, #5b5d63, #515257);
	background-image: -o-linear-gradient(top, #5b5d63, #515257);
	background-image: linear-gradient(to bottom, #5b5d63, #515257);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff515257, endColorstr=#ff515257);
	-webkit-transform: skew(12deg);
	-moz-transform: skew(12deg);
	-ms-transform: skew(12deg);
	-o-transform: skew(12deg);
	transform: skew(12deg);
	-webkit-border-radius: 0 2px 0 0;
	-moz-border-radius: 0 2px 0 0;
	border-radius: 0 2px 0 0;
	
}

.resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
    padding: 15px;
}

.resp-tab-active {
	
		text-shadow:0 0 1px rgba(255,255,255,.1)!important;
	background:#45a9c6!important;
	background-color: #6fc8e2!important;
	background-image: -moz-linear-gradient(top, #6fc8e2, #45a9c6)!important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6fc8e2), to(#45a9c6))!important;
	background-image: -webkit-linear-gradient(top, #6fc8e2, #45a9c6)!important;
	background-image: -o-linear-gradient(top, #6fc8e2, #45a9c6)!important;
	background-image: linear-gradient(to bottom, #6fc8e2, #45a9c6)!important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff45a9c6, endColorstr=#ff45a9c6)!important;
	background-repeat: repeat-x;
	
	
}
.resp-tab-active a{
	color:#19667d!important;
}
.resp-tab-active a:hover,.resp-tabs-list li a:hover,.resp-tab-active a:focus,.resp-tabs-list li a:focus{
	text-decoration:none;
}

 .resp-tab-active a:after {
	z-index: 3;
	background-color: #45a9c6!important;
	background-image: -moz-linear-gradient(top, #6fc8e2, #45a9c6)!important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6fc8e2), to(#45a9c6))!important;
	background-image: -webkit-linear-gradient(top, #6fc8e2, #45a9c6)!important;
	background-image: -o-linear-gradient(top, #6fc8e2, #45a9c6)!important;
	background-image: linear-gradient(to bottom, #6fc8e2, #45a9c6)!important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff45a9c6, endColorstr=#ff45a9c6)!important;
	background-repeat: repeat-x;
}
.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-tab-content {
    border: 1px solid #dfdfdf;
}

h2.resp-accordion {
    font-size: 13px;
    border: 1px solid #dfdfdf;
    border-top: 0px solid #dfdfdf;
    margin: 0px;
    padding: 5px 15px;
		line-height:30px;
}

h2.resp-tab-active {
    border-bottom: 0px solid #dfdfdf !important;
    margin-bottom: 0px !important;
    padding: 5px 15px !important;
		line-height:30px!important;
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #dfdfdf !important;
    background: blue;
}
/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 30%;
}

.resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 15px 15px !important;
    margin: 0;
    cursor: pointer;
    float: none;
}

.resp-vtabs .resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    float: left;
    width: 68%;
    min-height: 250px;
    border-radius: 4px;
    clear: none;
}

.resp-vtabs .resp-tab-content {
    border: none;
}

.resp-vtabs li.resp-tab-active {
    border-right: none;
    background-color: #fff;
    position: relative;
    z-index: 1;
    margin-right: -1px !important;
    padding: 14px 15px 15px 14px !important;
}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top:10px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #dfdfdf;
}

h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #19667d;
}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
    
		text-shadow:0 0 1px rgba(255,255,255,.1)!important;
		
	background-color: #6fc8e2!important;
	background-image: -moz-linear-gradient(top, #6fc8e2, #45a9c6)!important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6fc8e2), to(#45a9c6))!important;
	background-image: -webkit-linear-gradient(top, #6fc8e2, #45a9c6)!important;
	background-image: -o-linear-gradient(top, #6fc8e2, #45a9c6)!important;
	background-image: linear-gradient(to bottom, #6fc8e2, #45a9c6)!important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff6fc8e2, endColorstr=#ff45a9c6)!important;
	
	background-repeat: repeat-x;

}
.resp-easy-accordion  h2.resp-accordion {
    display: block;
}
.resp-easy-accordion .resp-tab-content {
    border: 1px solid #dfdfdf;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #dfdfdf !important;
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}

h2.resp-accordion:first-child {
    border-top: 1px solid #dfdfdf !important;
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
    }

    .resp-vtabs .resp-tab-content {
        border: 1px solid #dfdfdf;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: initial;
        clear: none;
    }
    .resp-accordion-closed {
        display:none !important;
    }
    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #dfdfdf !important;
    }
}
