
ul.resp-tabs-list, p {
    margin: 0px;
    padding: 0px;
}

.resp-tabs-list li {
	font-size:13px;
	font-weight:bold;
	color:#fff;
	background-color: #027bb5;
	background-image: -moz-linear-gradient(top, #027bb5, #014e8f);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#027bb5), to(#014e8f));
	background-image: -webkit-linear-gradient(top, #027bb5, #014e8f);
	background-image: -o-linear-gradient(top, #027bb5, #014e8f);
	background-image: linear-gradient(to bottom, #027bb5, #014e8f);
	background-repeat: repeat-x;
	
	-webkit-border-radius: 8px 8px 0 0;
	-moz-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;
	float:left;
	list-style:none;
	padding:9px 20px;
	text-transform:uppercase;
	margin-right:2px;
}
.resp-tabs-list li a{
	color: #fff;
}

.resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
    padding: 15px;
}

.resp-tab-active {
	color:#fff!important;
	background-color: #f17d01!important;
	background-image: -moz-linear-gradient(top, #ffa122, #f17d01)!important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffa122), to(#f17d01))!important;
	background-image: -webkit-linear-gradient(top, #ffa122, #f17d01)!important;
	background-image: -o-linear-gradient(top, #ffa122, #f17d01)!important;
	background-image: linear-gradient(to bottom, #ffa122, #f17d01)!important;
	background-repeat: repeat-x!important;
	
	-webkit-border-radius: 8px 8px 0 0;
	-moz-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;
	
	
}
.resp-tab-active a{
	color:#fff!important;
}
.resp-tab-active a:hover,.resp-tabs-list li a:hover,.resp-tab-active a:focus,.resp-tabs-list li a:focus{
	text-decoration:none;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

h2.resp-accordion {
    font-size: 13px;
    border: 1px solid #dfdfdf;
    border-top: 0px solid #dfdfdf;
    margin: 0px;
    padding: 5px 15px;
		line-height:30px;
}

h2.resp-tab-active {
    border-bottom: 0px solid #dfdfdf !important;
    margin-bottom: 0px !important;
    padding: 5px 15px !important;
		line-height:30px!important;
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #dfdfdf !important;
    background: blue;
}
/*-----------Accordion styles-----------*/
h2.resp-tab-active {
    
	color:#fff!important;
	background-color: #f17d01!important;
	background-image: -moz-linear-gradient(top, #ffa122, #f17d01)!important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffa122), to(#f17d01))!important;
	background-image: -webkit-linear-gradient(top, #ffa122, #f17d01)!important;
	background-image: -o-linear-gradient(top, #ffa122, #f17d01)!important;
	background-image: linear-gradient(to bottom, #ffa122, #f17d01)!important;
	background-repeat: repeat-x!important;
	
	-webkit-border-radius: 0!important;
	-moz-border-radius: 0!important;
	border-radius:0!important;
	

}
.resp-easy-accordion  h2.resp-accordion {
        display: block;
}
.resp-easy-accordion .resp-tab-content {
    border: 1px solid #dfdfdf;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #dfdfdf !important;
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}

h2.resp-accordion:first-child {
    border-top: 1px solid #dfdfdf !important;
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
    ul.resp-tabs-list {
        display: none;
    }
h2.resp-accordion a{
	color:#fff;
}
    h2.resp-accordion {
			color:#fff;
        display: block;
				background-color: #027bb5;
	background-image: -moz-linear-gradient(top, #027bb5, #014e8f);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#027bb5), to(#014e8f));
	background-image: -webkit-linear-gradient(top, #027bb5, #014e8f);
	background-image: -o-linear-gradient(top, #027bb5, #014e8f);
	background-image: linear-gradient(to bottom, #027bb5, #014e8f);
	background-repeat: repeat-x;
    }

    .resp-vtabs .resp-tab-content {
        border: 1px solid #dfdfdf;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: initial;
        clear: none;
    }
    .resp-accordion-closed {
        display:none !important;
    }
    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #dfdfdf !important;
    }
		.tab-content{
			min-height:20px;
		}
}
