.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container{
	width:980px;	
}
.search-con {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000, endColorstr=#66000000);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000, endColorstr=#66000000)";
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	behavior: url(PIE.htc)
}
.social-con{
	width:120px;
	text-align:right;
}
.footer-group ul li.title, .join-community .title, .footer-contact-area .title{
	font-weight:bold;
}
.search-con-inside {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000, endColorstr=#66000000);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000, endColorstr=#66000000)";
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	behavior: url(PIE.htc)
}
.nav-collapse.collapse, .popular-cruise-lines.collapse, .popular-destinations.collapse, .specialty-cruises.collapse, .about-cruising.collapse, .ppc.collapse, .search-form.collapse, .login-box.collapse{
	height:auto;
	overflow:visible;
}
.bootstrap-select .btn{
	background-color:#000!important;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.01);
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
	padding:2px 5px 0 5px;
}
.resp-tabs-list li{
	margin:0 2px 0 0;	
}